// Custom styles.
/* 设置根目录的font-size  用来做移动端布局适配 */

// 设置图片背景
  body {
  background-image:url(/images/mbg5.jpg);
  background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
  
}
  //蒙层
#Obscuration{
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-image:url(/images/mbg4.jpg);
  background-size: cover;
  z-index: 999999;
  }

      /* 看板娘位置 */
#live2d-widget{
  left:-40px;
  transform:scale(0.7) translateY(105px);


  
}
.footer-inner{
  font-size: 12px;
  }

/* 自适应样式 */
@media screen and (min-width:768px){
  /* 背景图片 */
  body{
     background-image:url(/images/bg5.jpg);
  }
  #Obscuration{
     background-image:url(/images/b4.jpg);
    }
    /* 头部样式修改 */
    .header{
      background: rgba(255,255,255,.5)
       .header-inner{
    /* 头部标题logo字体样式修改 */
     width: 100%;
    padding: 25px 0 0;
    .site-meta {
      float: none;
      margin: 0;
      text-align: center 
    .custom-logo-site-title {
      text-align: center
       }
     }
     .site-title{
       font-size: 45px;
       transition: 0.5s
         }
      .site-title:hover{
        color: #ff6700;
        transform: scale(2);
        text-shadow:  5px 5px 5px gray
        }
  /* 导航条样式修改 */
  .site-nav{
    .menu{
      float: none;
      .menu-item a{
        padding: 0 5px;
        font-size: 18px;
        font-weight: 550;
        text-shadow: 2px 2px 3px gray;
        transition: 0.5s
        }
     }
    }
  }
}
 

  /* 内容区域样式修改 */
  #main{
    .sidebar-toggle{
      border-radius: 5px;
    }
    .post-title{
        font-weight: 550;
        text-shadow: 2px 2px 3px gray;
      }
      .main-inner{
       .post-type-normal{
            box-shadow: 1px 1px 5px 1px #3333;
          }  
          .comments {
          box-shadow: 1px 1px 5px 1px #3333;
          }
          .info{
            display:none
            }
        }
    
  }

   /* 置顶按钮样式 */
  .back-to-top{
      border-radius: 5px;
  }

  /* 底部样式修改 */
  #footer{
    background: rgba(255,255,255,.5);
    user-select none
    .footer-inner{
      text-align: center;
       font-size: 14px;
      }
 

    }
  
      /* 看板娘位置 */
#live2d-widget{
  left:0;
   transform:scale(1) translateY(0);
}
}

/*整体样式*/

/* 文章外边框 */
.post {
  font-size: 12px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
/* 头部样式 */
#header{
  #menu{
    a:hover{
      color:#ff6700;
      background: none;
      text-shadow: 2px 2px 2px #ccc;
    }
  }
}

#main{
  #posts{
    article{
     .post-body{
       a{
           border-bottom: none;
           font-weight: 550;
           transition: 0.5s
       }
       a:hover{
         background: none;
         color: #ff6700
       
         }
       }
    }
    }

  }

blockquote{
  font-size: 17px;
}





//代码块复制按钮
  .copy-btn {
      display: inline-block;
      padding: 6px 12px;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      color: gray;
      white-space: nowrap;
      vertical-align: top;
      cursor: pointer;
      background-color: #eee;
      background-image: linear-gradient(#fcfcfc, #eee);
      border: 1px solid #d5d5d5;
      border-radius: 3px;
      user-select: none;
      outline: 0;
    }

    .highlight-wrap .copy-btn {
      transition: opacity .3s ease-in-out;
      opacity: 0;
      padding: 2px 6px;
      position: absolute;
      right: 4px;
      top: 2px;
    }

    .highlight-wrap:hover .copy-btn,
    .highlight-wrap .copy-btn:focus {
      opacity: 1
    }

    .highlight-wrap {
      position: relative;
    }



//滚动条 去除
 body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 0;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0;
  }
  body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
  }
  body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : #ededed;
  }


.pagination .page-number.current{
  border-radius: 50%
  }