// Custom styles.
/* 设置根目录的font-size  用来做移动端布局适配 */


/* 自适应样式 */
@media screen and (min-width:768px){
    /* 头部样式修改 */
    .header{
      background: rgba(255,255,255,.5)
       .header-inner{
    /* 头部标题logo字体样式修改 */
     width: 100%;
    padding: 25px 0 0;
    .site-meta {
      float: none;
      margin: 0;
      text-align: center 
    .custom-logo-site-title {
      text-align: center
       }
     }
     .site-title{
       font-size: 45px;
       transition: 0.5s
         }
      .site-title:hover{
        color: #ff6700;
        transform: scale(2);
        text-shadow:  5px 5px 5px gray
        }
  /* 导航条样式修改 */
  .site-nav{
      color: red;
    .menu{
      float: none;
      .menu-item a{
        padding: 0 5px;
        font-size: 18px;
        font-weight: 550;
        text-shadow: 2px 2px 3px gray
        }
     }
    }
  }
}
 

  /* 内容区域样式修改 */
  #main{
    .sidebar-toggle{
      border-radius: 5px;
    }
    .post-title{
        font-weight: 550;
        text-shadow: 2px 2px 3px gray;
      }
      .main-inner{
       .post-type-normal{
            box-shadow: 1px 1px 5px 1px #3333;
          }  
          .comments {
          box-shadow: 1px 1px 5px 1px #3333;
          }
          .info{
            display:none
            }
        }
    
  }

   /* 置顶按钮样式 */
  .back-to-top{
      border-radius: 5px;
  }

  /* 底部样式修改 */
  #footer{
    background: rgba(255,255,255,.5);
    user-select none
    .footer-inner{
      text-align: center;
      }
    }
  
  
}

/*整体样式*/

/* 文章外边框 */
.post {
  font-size: 12px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}


#live2d-widget{
  left:0
}
// 设置图片背景
  body {
    background:url(/images/bg5.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    background-size:cover;
  
}
